{% extends "demo/base.html" %}
{% block content %}
	<main role="main" class="container">
    	<div class="row">
        	<div class="col-lg-12">
            <h2>Marco</h2>
            <br>
            <table id="dataTable" class="cell-border">
                <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Device</th>
                      <th scope="col">Module</th>
                      <th scope="col">Chip</th>
                      <th scope="col">Reticle</th>
                      <th scope="col">Wafer</th>
                      <th scope="col">Technology</th>
                      <th scope="col">Description</th>
                      <th scope="col">Owner</th>
                      <th scope="col">GDS File</th>
                      <th scope="col">Test Marco</th>
                    </tr>
                </thead>
                <tbody id="data">
                {% for marco in marcos%}
                <tr>
                  <td>{{marco.idMarco}}</td>
                  <td></td>
                  <td><a href="{% url 'demo:module' filter_id=marco.idMarco %}">show list</td>
                  <td><a href="{% url 'demo:chip' filter_id=marco.chip.idChip %}">{{marco.chip.idChip}}</td>
                  <td><a href="#">{{marco.chip.reticle.idReticle}}</td>
                  <td><a href="#">{{marco.chip.reticle.wafer.idWafer}}</td>
                  <td><a href="#">{{marco.chip.reticle.wafer.technology.name}}</td>
                  <td>{{marco.description}}</td>
                  <td>{{marco.owner}}Admin</td>
                  <td><a href="#">open</a></td>
                  <td><a href="{% url 'demo:testmarco' filter_id=marco.testMarco.idTestMarco %}">{{marco.testMarco.name}}</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </main>
	
{% endblock content %}