{% extends "demo/base.html" %}
{% block content %}
	<main role="main" class="container">
    	<div class="row">
        	<div class="col-lg-12">
            <h2>Technology</h2>
            <br>
            <input class="form-control" id="search" type="text" placeholder="Search...">
            <br>
			<table id="table" class="table table-bordered table-hover">
                <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Module</th>
                      <th scope="col">Marco</th>
                      <th scope="col">Chip</th>
                      <th scope="col">Reticle</th>
                      <th scope="col">Wafer</th>
                      <th scope="col">Technology</th>
                      <th scope="col">Description</th>
                      <th scope="col">Owner</th>
                      <th scope="col">GDS File</th>
                      <th scope="col">Test Structure</th>
                    </tr>
                </thead>
                <tbody id="data">
                {% for device in devices%}
                <tr>
                  <td>{{device.idDevice}}</td>
                  <td><a href="#">{{device.module.idModule}}</td>
                  <td><a href="#">{{device.module.marco.idMarco}}</td>
                  <td><a href="#">{{device.module.marco.chip.idChip}}</td>
                  <td><a href="#">{{device.module.marco.chip.reticle.idReticle}}</td>
                  <td><a href="#">{{device.module.marco.chip.reticle.wafer.idWafer}}</td>
                  <td><a href="#">{{device.module.marco.chip.reticle.wafer.technology.name}}</td>
                  <td>{{device.description}}</td>
                  <td>{{device.owner}}Admin</td>
                  <td><a href="#">open here</a></td>
                  <td><a href="{% url 'demo:teststructure' teststructure_id=device.testStructure.idTestStructure %}">{{device.testStructure.name}}</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </main>
	
{% endblock content %}